@charset "UTF-8";

/*
pALETA DE  CORES 
Verde: #49a09d
Lilás: #5f2c82
*/

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #f0285d;
    height: 100vh;
    width: 100vw;
}
main{
    height: 100vh;
    width: 100vw;
    position: relative;

}

section#login{
    position: absolute;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 2px 2px 5px black;
}

section#login > div#imagem{
    display: block;
    height: 200px;
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../imagens/pexels-scott-webb-532563.jpg);
}

#formulario{
    display: block;
    text-align: center;
    
    
}

#formulario > h1{
    padding-bottom: 10px;
    margin-top: 10px;
}

form > div > input#sub{
    display: block;
    font-size: 1.2em;
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100% ;
    margin-top: 8px;
    margin-bottom: 8px;
    color: rgb(255, 254, 254);
    background-color: #bc0938c5;
    cursor: pointer;
    box-shadow: none;
    border-radius: 7px;
}

form  div > input[type=email] {
    height: 30px;
    margin-top: 0px;
    width: 88%;
    display: inline-block;
    border-radius: 10px;

   
}

form  div > input[type=password] {
    height: 30px;
    margin-top: 0px;
    width: 88%;
    display: inline-block;
    border-radius: 10px;
   
}

form > div.campo{
    background-color: #f0285d;
    padding: 0px;

   
}

form > div.campo > span{
    color: rgb(255, 255, 255);
    
  
    
   
    

}

form > div > span.material-icons{
    
    
}

form > div.campo > label{
    display: none;
}

form > div > a{
    display: block;
    
    background-color: white;
    border: 2px solid #f14170c5;
    border-radius: 7px;
    text-decoration: none;
    padding: 5px;
    color:#f0285d;
}

